

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*CSS media query dentro de um stylesheet*/
@media (max-width: 1000px)
{
 #olhando{
    height: 200px;
    width: 98px;
  display: block;
  animation: imagem 7s ease forwards;
  position: absolute;
 margin-top: 100px;
}
.google{
    margin: auto;
    font-size: 6pt;
    color:red;

}
.hard img{
    display:block;
    width: 5px;
    height: 5px;
}

.soft img{
    display: block;
    width: 5px;
    height: 5px;
  }




}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
   
}
body{
    /*overflow: hidden;*/
    animation: gge 15s ease infinite;
    background: linear-gradient(-5deg,  #0a59ed, #d16b3f, #250d06, #2a12c5) no-repeat;
   background-size:1000vw 1000vh;
    

}
.cabeca{
  position: relative;
  margin: auto;
  float: right;
}
#menu-h ul {
  max-width: 100vw;
  list-style: none;
  padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

#menu-h ul li a:hover {
    color: rgb(24, 233, 111);
}

/*#menu-h ul li:first-child a {
    
    background-color: rgb(24, 139, 233);
}*/

.dd{
    margin-top: 60px;
    display: block;
    position: absolute;
    height: 100vh;
    width: 100vw;
    white-space: nowrap;
    
}

@keyframes gg {
 0%{
    background-position: 0 50%;
 }
 
 50%{
    background-position: 100% 50%;
 }

 100%{
    background-position: 0 50%;
 }
}
.dd img{
  height: 660px;
  width: 298px;
  display: block;
  animation: imagem 7s ease forwards;
}
@keyframes imagem {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
h1{
  display: block;
  margin-left:298px;
  margin-top: -650px;
  position: relative;
}
.google{
  position: relative;
  color: lime; 
  font-family: "Courier";
  font-size: 26pt;
  white-space: nowrap;
  overflow: hidden;
  width: 60vw;
  animation: type 5s steps(60, end) ; 
}

.google:nth-child(2){
  animation: type2 9s steps(60, end);
  
}
.and{
  animation: blink 1s infinite;
}
@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 90; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

.hard{
  display: inline-block;
  position: absolute;
  margin-left: 177px;
  margin-top: 15%;
}
.hard img{
  width: 100px;
  height: 100px;
}
#cssicon{
  width: 130px;
  height: 119px;
  padding: 0;
  margin-top: 0px;
  position: relative;
}

#phpicon{
  width: 115px;
  height: 119px;
  padding: 0;
  margin-top: 0px;
  position: relative;
}

#sqlicon{
  width: 115px;
  height: 100px;
  padding: 0;
  margin-top: 10px;
  position: relative;
  margin-left: 15px;
}

.soft{
  display: inline-block;
  position: absolute;
  margin-left: 177px;
  margin-top: 30%;
}

.soft img{
  width: 100px;
  height: 100px;
}

#python{
  margin-left: -20px;
}

#android{
  margin-right: 3px;
  margin-left: 22px;
}