*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 80%;
    height: 500px;
    border-bottom: 15px solid #1f985a;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}
.nuvens{
    position: absolute;
    width: 200px;
    animation: clouds 15s infinite linear;
}
.pipe{
    position: absolute;
    bottom: 0;
    width: 70px;
    animation: pipe-animation 3s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}
    

.jump{
    animation: jump 700ms ease-in-out;
}

@keyframes pipe-animation{
    0%{
        right: -80px;
    }
    100%{
        right: 100%;
    }
}

@keyframes jump{
    0%{
        bottom: 0;
    }
    40%{
        bottom:200px;
    }
    50%{
        bottom: 200px;
    }
    80%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}
   
@keyframes clouds {
    from{
        right: 0;
    }
    to{
        right: 100%;
    }
}

.game-canvas {
  width: 100%;
  height: 100vw;
  max-width: 500px;
  max-height:500px;
  margin-left: auto;
  margin-right: auto;
}

.keys {
  font-family: 'Lato', sans-serif;
  text-align: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  height: 200px;
  margin: auto;
}

.up {
  position: relative;
  top: -4px;
}

.chevron::before {
  border-style: solid;
  border-width: 8px 8px 0 0;
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  top: -10px;
  position: relative;
  transform: rotate(-45deg);
}

.chevron.down::before {
  transform: rotate(135deg);
  top: -22px;
}

.chevron.right::before {
  transform: rotate(45deg);
  top: -18px;
  left: -5px;
}

.chevron.left::before {
  transform: rotate(225deg);
  top: -18px;
  left: 5px;
}

.arr {
  justify-content: center;
  cursor: pointer;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 100px;
  background: gray;
  color: white;
  font-size: 50px;
  border-right: 10px solid #ccc;
  border-bottom: 10px solid #ccc;
  border-left: 10px solid #ddd;
  border-top: 10px solid #eee;
  display: inline-block;
  margin-left: 45%;
  transition: all .05s linear;
  user-select: none;
  display: flex;
  /*align-items: center ;*/
  /*justify-content: space-around;*/
  position: relative;
}

.arr:active {
  background: #555;
}

#game-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(220, 220, 220, 0.6);
}
