.portfolio {
    background: var(--second-bg-color);
}

.portfolio h2 {
    margin-bottom: 2rem;
    margin-top: -5rem;
}

.portfolio-conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    padding: 2rem;
    
}

.portfolio-conteiner .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}

.portfolio-box img,iframe {
    width: 100%;
    height: 300px;
    transition: .5s ease;
}
.portfolio-box .tech {
    display: block;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    padding: .5rem 1rem;
    background-color: var(--main-color);
    color: var(--second-bg-color);
    border-bottom-right-radius: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    transition: .5s ease;
}
.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .player {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 217, 255, 0.7), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
    font-weight: bolder;
}

.player {
    color: var(--second-bg-color);
}

.portfolio-box:hover .player {
    transform: translateY(0);
}

.player .btn {
    background: none;
    box-shadow: none;
}


.player h4 {
    font-size: 2rem;
}

.player p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.player .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem;
    margin-top: 1rem;
    justify-items: center;
}

.player .links span {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--segund-color);
}
.player a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: var(--text-color);
    border-radius: 50%;
}

.player a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}
