.sobre{
    color: lime; 
    font-family: "Courier";
    font-size: 25pt;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    animation: sobre 7s ease forwards;
    
  }
 
  @keyframes sobre {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  
.txt{
    display: block;
    position: absolute;
    /*border: 1px solid #ce1e1e;*/
    /*width: 500px;*/
    height: 1000px;
}

  .proximo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .proximo a{
    text-decoration: none;
    font-size: 150pt;
    color: lime;
    animation: prox 20s ease forwards;
  }
  @keyframes prox {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  #formacao{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1300px;
    margin-left: 45%;
    rotate: 50;
  }